.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #343333;
    margin-bottom: 50px;
    padding: 50px 0;
    border-bottom: 1px solid #fff;
    
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
.container p {
    color: #fff;
    font-size: 2rem;
    background-color: #1a1919;
    border-radius: 2px;
    width: fit-content;
    font-family: 'Noto Serif', serif;
}
.container span {
    background-color: #fff;
    color: #1f1e1e;
    width: fit-content;
    border-radius: 2px;
    font-family: 'Noto Serif', serif;
}
.search input {
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
    
}
.search input::placeholder {
    padding: 5px;
    font-size: 1rem;
}
.search input:focus {
    outline: none;
}
@media (max-width: 700px) {
    .container p, span{
        display: none;
    }
}